<ion-header>
  <ion-toolbar color="primary">
    <ion-title>О приложении</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
        <ion-img style="width: 50%; margin: 0 auto;" src="https://img-premium.flaticon.com/png/512/845/845665.png?token=exp=1621349996~hmac=bda7b32e081884d7e869ebe559dc45eb"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://scontent.fpwq1-1.fna.fbcdn.net/v/t1.6435-9/130482530_105161008124243_6495941375577770431_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=JOilgEkPqzIAX9gUUqY&_nc_ht=scontent.fpwq1-1.fna&oh=4fcd5ecdde0378b9208df94b5bc57e40&oe=60C8B3F3" />
        </ion-avatar>
        <ion-label>
          <ion-label color="medium">Автор: </ion-label>
          Закарин Адиль
        </ion-label>
      </ion-item>
      <ion-item>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, aliquam harum facere ab sunt, reiciendis excepturi recusandae maxime est ad fuga quas optio vitae at fugiat neque ut rerum alias aspernatur, pariatur error repellat asperiores dolor possimus? Laboriosam iste praesentium porro dolorum molestias quo aliquid, similique odit velit. Iure facere nam et, animi reprehenderit officia facilis magni. Minima necessitatibus corrupti suscipit assumenda numquam dolorem consequatur vitae sint magnam eaque repellat adipisci neque accusamus dignissimos, commodi incidunt, cupiditate at perspiciatis veritatis quaerat, quod aperiam. Neque ea et nulla ullam quod nam, ab dolorem aliquam nostrum at ex natus animi impedit perspiciatis?</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>